body{
   background-color: black;
}
.navbar{
    background-color: fuchsia;
    height:100px;
}
.card{
    background-color: green;
    height:400px;
    display: flex;
    justify-content: center;
}
.box1{
    height:200px;
    width:200px;
    background-color: brown;
    justify-content: center;
    padding: 55px;
    margin:20px;


}
.box2{
     height:200px;
    width:200px;
    background-color: aqua;
    justify-content: center;
    padding: 55px;
    margin:20px;


}

.box3{
    height:50px;
    width:85%;
    border-radius: 55px;
    border:2px solid white;
    margin-top: 10px;
    margin-left: 85px;
    padding:45px;
    justify-content: center;
    text-align: center;
    color:white;
}
.box4{
    background-color: white;
    height:100px;
    margin-top: 255px;

}
.box5{
    border-radius: 100%;
    background-color: burlywood;
    height:50px;
    width:50px;
    margin-top: 20px;
    margin-left: 20px;

}
.card1{
    display: flex;
}